body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

h1{
  width: 60%;
}

.card{
  width: 45%;
}

.tile-image{
  width: 300px;
  height: 200px;
  float: left;
  margin-right: 50px;
}

.right{
  float: right;
}

.left{
  float: left;
}

span{
  color: midnightblue;
}


@media (max-width: 718px) {
  .logo{
    width: 7rem;
  }
  h1{
    font-size: 3.5rem;
    width: 100%;
    text-align: center;
  }
  .card{
    float: none;
    width: 100%;
    margin-bottom: 40px;
    text-align: justify;
  }
  .tile-image{
    width: 100%;
    height: 225px;
    float: none;
    margin-bottom: 10px;
  }
  
}